@model Repositories.Models.PagingModel<Repositories.Models.UserModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

<style>
    /* pagination */
    .pagination > li.disabled {
        opacity: .5;
        filter: alpha(opacity=50);
    }

    .pagination > li {
        margin: 0 4px;
        display: inline-block;
    }

    .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        color: #fff;
        background-color: #f54b5b;
        border-color: #fff;
        cursor: default;
    }

    .pagination > li > a, .pagination > li > span {
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        font-size: 18px;
        z-index: 1;
        position: relative;
        background-color: #2196f3;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        display: inline-block;
    }
</style>
<h1>Welcome Back To Admin Dashboard</h1>
<h4 class="text-center text-uppercase">List of User(s)</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Photo</th>
            <th>Gender</th>
            <th>Email</th>
            <th>MobileNo</th>
            <th>Designation</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Data)
        {
            <tr>
                <td>@user.Name</td>
                <td>
                    <img src="~/images/@user.Photo"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>@user.Gender</td>
                <td>@user.Email</td>
                <td>@user.MobileNo</td>
                <td>@user.Designation</td>
                <td>@user.CountryName</td>
            </tr>

        }
        <tr>
            <td colspan="6">
                @Html.PagedListPager((IPagedList)Model.Data, page => Url.Action("Index", new
                {
                    page = page,
                    pageSize = Model.PageSize
                }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </td>
        </tr>
    </tbody>
</table>

